/* Variables */

/* colors */

:root {
  /* colors */
  --hue: 189;
  /* HSL color mode */
  /* --base-color: hsl(var(--hue), 70%, 9%);
  --base-color-second: hsl(var(--hue) 100% 23%); */

  --base-color: hsl(var(--hue), 100%, 23%);
  --base-color-second: hsl(var(--hue), 70%, 9%);

  --base-color-alt: hsl(var(--hue) 57% 53%);

  /* fonts */
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Poppins:wght@500;700&display=swap");
  --title-font: "Poppins", sans-serif;
  --text-font: "DM Sans", sans-serif;
}

/* BASE */

body {
  background: linear-gradient(to bottom, var(--base-color), #ffffff);
}

.border-base {
  --tw-border-opacity: 1;
  border-color: var(--base-color);
}

.bg-base {
  background: var(--base-color);
}

.bg-base-second {
  background: var(--base-color-second);
}
